.header-top {
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #242240;
    position: relative;
    padding-left: 123px;
}

.header-vector{
    height: 20px;
    width: 15px;
    padding: 0 10px;
    position: relative;
}

.header-left{
    flex-grow: 0;
    display: flex;
    align-items: center;
    padding-left: 10px;

    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #E0E0E0;
}

.header-center {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #828282;
}

.header-right{
    flex-grow: 0;
    padding: 0 30px;
    display: flex;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #E0E0E0;
}

.header-right p{
    padding: 0 5px;
} 